.file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 80%;
}

.file-container{
    margin: 0 auto;
    color: #333131;
    border: 1px solid rgb(203, 235, 233);
}


