@mixin box-name($height, $pos) {
    .box-label {
        padding: 10px 0 $height 0;
        width: 100%;
        background-color: #292b2c;
        text-align: center;
        position: $pos;
        top: 0;
        left: 0;
        .box-label-name {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: larger;
        }
    }
}

@mixin fab($top, $rig) {
    .box-addNewCourse {
        position: absolute;
        top: $top;
        right: $rig;
        padding: 30px;

        margin: 0 177px 0 0;
    }

    .box-deleteCourse {
        position: absolute;
        top: $top;
        right: $rig;
        padding: 30px;

        margin: 0 3px 0 0;
    }
    .box-editCourse {
        position: absolute;
        top: $top;
        right: $rig;
        padding: 30px;

        margin: 0 90px 0 0;
    }
}

//////////////////
/* Widok Kursów */
//////////////////

.grid-courses {
    grid-column: 1/3;
    grid-row: 1/4;
}

.grid-news {
    grid-row: 1/4;
    grid-column: 3;
}

.grid-newCourse {
    grid-row: 3/4;
    grid-column: 1/2;
}

.wrapper {
    display: grid;
    grid-gap: 3px;
    min-height: 90vh;
    color: #444;
    padding: 75px;
    margin-bottom: 0px;
    background-image: url(./logo/wave.svg);
    background-repeat: repeat-y;
    background-size: cover;
}
.tabElement {
    padding: 50px;
}
.container-tab {
    border: 1px black solid;
}
.box {
    background-color: rgba(255, 255, 255, 0.849);
    border: 2px solid #292b2c;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    position: relative;
    margin: 10px;

    $hei: 40px;
    $pos: relative;
    @include box-name($hei, $pos);

    $bot: 0;
    $rig: 0;
    @include fab($bot, $rig);
}


////////////////////
/* Widok Wykładów */
////////////////////

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.main-lectures-wrapper{

    overflow: hidden;
}
.bookmarks-wrapper{

    overflow: hidden;
}

.sidebar {
    padding-right: 0px;
    height: 92.6vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


.bookmarks-wrapper{
    padding: 30px;
}





body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}



.sidebar > div, div:hover, div:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}


.sidebar ul.components {
    padding: 5px 0;
    border-bottom: 1px solid #47748b;
}

.sidebar-header-main{

    padding: 30px;
    margin: 0;
    background: #6d7fcc;
    display: flex;
    align-items: center;
}

.left-arrow-icon-wrapper{

    align-items: right;
    margin-left: 30px;
}

.left-arrow-icon:hover{

    color: black;
}

.sidebar ul li div {
    padding: 5px;
    text-align: center;
    font-size: 1.1em;
    display: block;
}



.sidebar ul li div:hover {
    color: black;
    background: #fff;
    
}






.main-lectures-wrapper {
    display: flex;
    width: 100%;
}



.sidebar {
    min-width: 300px;
    max-width: 300px;
}


.sidebar {
        margin-left: -300px;
}

.sidebar-active {
        margin-left: 0;
}


.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}


.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.awsome-button{
    background-color: #6d7fcc;
    width: 100%;
}


.nav-buttons{
    display: flex;
    column-gap: 30px;
    text-align: center;
    align-items: center;
    margin-left: 30px;
}