@mixin box-name($height, $pos) {
    .box-label {
        padding: 10px 0 $height 0;
        width: 100%;
        background-color: #292b2c;
        text-align: center;
        position: $pos;
        top: 0;
        left: 0;

        .box-label-name {
            cursor: pointer;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: larger;
        }
    }
}

.box-addNewCourse {
    position: absolute;
    bottom: 20px;
    padding: 30px;
    right: 50px;
    animation: in 0.7s;
}

@keyframes in {
    from {
        right: -50px;
    }
    to {
        right: 50px;
    }
}

//////////////////
/* Widok Kursów */
//////////////////

.grid-courses {
    grid-column: 1/3;
    grid-row: 1/4;
}

.grid-news {
    grid-row: 1/4;
    grid-column: 3;
}

.grid-newCourse {
    grid-row: 3/4;
    grid-column: 1/2;
}
.main-wrapper {
    overflow-y: hidden;
}

.wrapper {
    display: grid;
    grid-gap: 3px;
    min-height: 93vh;
    color: #444;
    padding: 70px 90px 120px 90px;
    margin-bottom: 0px;
}

.wrapper-all-courses {
    display: grid;
    grid-gap: 3px;
    min-height: 93vh;
    color: #444;
    padding: 70px 90px 120px 90px;
    margin-bottom: 0px;
}
.tabElement {
    padding: 50px;
}
.container-tab {
    border: 1px black solid;
}
.box {
    background-color: rgba(255, 255, 255, 0.849);
    border: 2px solid #292b2c;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    position: relative;
    margin: 10px;

    $hei: 40px;
    $pos: relative;
    @include box-name($hei, $pos);
}

@media (max-width: 1200px) {
    .wrapper {
        display: inline-flex;
        flex-direction: column;
    }

    .wrapper > .grid-courses {
        width: 80vw;
        justify-content: center;
    }

    .wrapper > .grid-news {
        width: 80vw;
    }
}

@media (max-width: 767px) {
    .wrapper {
        display: inline-flex;
        flex-direction: column;
    }

    .grid-courses {
        width: 70vw;
    }

    .grid-news {
        width: 70vw;
    }
}

@media (max-width: 600px) {
    .wrapper {
        display: inline-flex;
        flex-direction: column;
    }

    .grid-courses {
        width: 60vw;
    }

    .grid-news {
        width: 60vw;
    }
}

////////////////////
/* Widok Wykładów */
////////////////////

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.hamburger-arrow {
    color: white;
    position: absolute;
    transition: all 0.3s;
    z-index: 1000;
    left: 15px;
    top: 9px;
}

.show-sidebar-button:hover {
    color: pink;
}

.main-lectures-wrapper {
    overflow: hidden;
}
.bookmarks-wrapper {
    overflow: hidden;
}

.sidebar {
    padding-right: 0px;
    height: 92.6vh;
    z-index: 999;
    transition: all 0.3s;
    overflow-y: hidden;
}

.bookmarks-wrapper {
    width: 100%;
    padding: 30px;
}

.sidebar > div,
div:hover {
    color: inherit;
    text-decoration: none;
    transition: ease-in-out 0.4s;
}

.sidebar {
    background: #7386d5;
    color: #fff;
    transition: ease-in-out 0.3s;
}

.sidebar-header-main {
    padding: 28px;
    margin: 0;
    background: #5167ca;
    display: flex;
    align-items: center;
}

.left-arrow-icon-wrapper {
    align-items: right;
    margin-left: 30px;
}

.sidebar ul li div {
    padding: 4px;
    text-align: center;
    font-size: 1.1em;
    display: block;
}

.sidebar ul li div:hover {
    color: black;
    background: #fff;
}

.main-lectures-wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    min-width: 300px;
    max-width: 300px;
}

.sidebar {
    margin-left: -300px;
}

.sidebar-active {
    margin-left: 0;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.awsome-button {
    background-color: #6d7fcc;
    width: 100%;
}

.nav-buttons {
    display: flex;
    column-gap: 30px;
    text-align: center;
    align-items: center;
    margin-left: 30px;
}

////////////////////////
///SEARCHER///
//////////////////

.searcher {
    position: absolute;
    bottom: 1px;
    width: 100%;
}

.course-desc {
    width: 75%;
    height: 200px;
    border: 1px #dce4e4 solid;
}

.userCourseTable {
    list-style-type: none;
}

.nothing-to-display {
    width: 100%;
}

.list-lecture-container-2 {
    z-index: 1001;
}

.context-button-container {
    position: absolute;
    right: 100px !important;
    top: 100px;
    display: flex;
    flex-direction: row-reverse;
}

.context-button-container > * {
    margin-left: 10px;
}

.lectures-main-wrapper {
    // background-color: white;
    margin: 80px;
    width: 90vw;
    min-height: 500px;
}

.booksmarks-wrapper {
    min-height: 500px;
    padding: 30px;
}
.recording {
    color: red;
}
