@import "~video-react/styles/scss/video-react";

@import "./sharedVariables.scss";
@import "./grid.scss";
@import "./streamView.scss";
@import "./news.scss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.margin-toast {
    margin: 5rem;
}

.form-input {
    margin: 3px 0px 3px 0px;
}

.user-panel-container {
    padding: 30px;
    justify-content: center;

    margin: 0 auto;
}

.full-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
}

.margin-auto {
    margin: auto;
}
