#countdown{
    margin-bottom: 20px;
}

.quiz-content{
    text-align: left;
}

.question-main-container{

    min-height: 300px;
    text-align: center;
    margin: 30px;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 30px;
}

.quiz-main-container{

    text-align: center;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 30px;
}

.quiz-name{
    font-size: 1.8rem;
}

.question-main-container:hover {
    box-shadow: 0 8px 16px 8px rgba(0,0,0,0.2);
}

.quiz-nav{

    position: relative;
    left: 30px;
    bottom: 70px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 800){

    .quiz-nav{

        left: 10px;
        bottom: 10px;
    }
}

.quiz-icon{
    size: 10px;
}

.variant{
    width: 100%;
}

.delete-question{
    position: relative;
    float: right;
    bottom: 40px;
}

.question-content{
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.variant-content{
    text-align: left;
    width: 30px;
}

.variant-delete{
    float: right;
}

.variant-delete:hover{

}

.variant-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.delete-div{
    margin-top: 3px;
    z-index: 100;
    background-color: gray;
    opacity: 0.9;
    padding: 4px;
    color: white;
}


.create-quiz-wrapper{
    margin-top: 30px;
}


.time-remains{

    background-color: white;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
}

.quiz-form-container{
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
    padding-bottom: 10px;
}

.quiz-tr-0{
    background-color: white;
}

.quiz-tr-1{
    background-color: whitesmoke;
}

.quiz-finished-cointainer{
    overflow: hidden;
    z-index: 300;
}

.quiz-table{
    margin-left: 30px;
    margin-right: 30px;
    z-index: 300;
    overflow: hidden;
}