.stream-window {
    height: auto;
    width: auto;
    background-color: black;
}

.chat-window {
    height: 50vh;
    margin: auto;
    width: 100%;
}
.chat-window > .card-body {
    overflow-y: scroll;
}

.chat-message {
    background-color: #ffffff;
}

.current-user-message {
    background-color: #0176ff !important;
}
.current-user-message span,
.current-user-message p {
    color: white;
}
.current-user-message span small {
    color: #cccccc !important;
}

.video-container {
    position: relative;
}

.video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #22313abb;
    margin: 0;
    padding: 0;
    z-index: 2;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.video-controls .main-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30%;
}

.video-controls .main-controls button {
    background-color: #00000000;
    border: none;
    color: white;
    outline: none;
    text-align: center;
    margin: auto;
    height: 100%;
}

.video-controls {
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.video-controls:hover {
    opacity: 1;
}

.video-controls button:hover {
    background-color: #4b5963bb;
}

.dropdownMenu {
    margin-left: auto;
    color: white;
    font-size: 1rem;
}

.dropdownMenu button {
    background-color: #00000000 !important;
    border: none !important;
    color: white;
    outline: none;
    text-align: center;
    margin: auto;
    height: 100%;
}
.dropdownMenu button:focus {
    box-shadow: 0 0 0 !important;
}

.play-btn-container {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(20, 20, 20, 0.5);
    display: grid;
}

.play-btn {
    display: block;
    height: 40px;
    width: 40px;
    margin: auto;
}

.play-btn:hover {
    cursor: pointer;
}

.play-btn > * {
    width: 100%;
    font-size: 4rem;
}
.play-btn:hover > * {
    color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 900px) {
    .play-btn {
        height: 6vw;
        width: 6vw;
    }
}
.hidden {
    display: none;
}

video {
    z-index: 1;
}
