

.chat-window {
    height: 50vh;
    margin: auto;
    width: 100%;
}

.chat-message {
    background-color: #ffffff;
}

.current-user-message {
    background-color: #0176ff !important;
}
.current-user-message span,
.current-user-message p {
    color: white;
}
.current-user-message span small {
    color: #cccccc !important;
}